<div [@Tap]>
  <div *ngIf="films.length == 0" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        <!-- <fa-icon [icon]="faCog" class="fa fa-cog fa-spin fa-1x fa-fw"></fa-icon> Loading... -->
        <i class="fa fa-cog fa-spin fa-2x"></i>
        <span>Loading {{ pageTitel }}...</span>
      </h1>
    </div>
  </div>
  <p class="text-center">
    <span class="title">{{ pageTitel }}</span>
  </p>
  <div *ngIf="!showDetail" class="container">
    <div class="card-deck">
      <div class="row">
        <div *ngFor="let film of films" class="col-md-4 col-xs-12 mt-3 p-3">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="/assets/Filme-img/Unbenannt.png"
              alt="film pic"
            />
            <div class="card-body">
              <h5 class="card-title">{{ film.title }}</h5>
              <span class="card-text d-flex align-items-stretch"
                >Director: {{ film.director }} Produzenten:
                {{ film.producer }} Erscheinungsdatum: {{ film.release_date }}
              </span>
              <!-- <p class="card-text">{{ film.producer }}</p> -->
              <!-- <p class="card-text">{{ film.release_date }}</p> -->
              <p class="card-text btn" (click)="onShowDetail(film)">
                <small class="text-muted">{{ showMore }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showDetail" [@Tap] class="container">
    <div class="top-details text-center">
      <span>
        <h4>{{ detailPageTitle }}</h4>
        <hr />
        <h1>{{ selectedFilm.title }}</h1>
        <h4>Episode {{ selectedFilm.episode_id }}</h4>
      </span>
    </div>

    <div class="container">
      <div class="row">
        <div class="top col-md-4 align-items-stretch">
          <span>
            <h4>{{ detailsTitle }}</h4>
            <h5>Director:</h5>
            <h6>{{ selectedFilm.director }}</h6>

            <br />

            <h5>Producer:</h5>
            <h6>{{ selectedFilm.producer }}</h6>
            <br />
            <h5>ReleaseDate:</h5>
            <h6>{{ selectedFilm.release_date }}</h6>
            <br />
            <br />
            <h6 style="font-size: 12px">{{ selectedFilm.opening_crawl }}</h6>
          </span>
        </div>
        <div class="down col-md-4 ml-auto">
          <img
            class="img-fluid"
            src="/assets/Filme-img/Unbenannt.png"
            alt="details-img"
          />
          <div class="img-dot">
            <!-- added fontAwesome for el>
            <i class="fa fa-ellipsis-h fa-3x"></i> -->
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
      </div>
    </div>

    <p>Charaktere:</p>
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="fxLayout">
      <div class="mat-button-row">
        <a
          class="mat-raised-button"
          mat-raised-button
          *ngFor="let character of selectedFilm.characterDetails | slice: 0:5"
          [href]="character.url"
          target="_blank"
          >{{ character.name }}</a
        >
        <button
          class="mat-dott-button"
          mat-raised-button
          (click)="openModal('custom-modal-1')"
        >
          ...
        </button>
      </div>
    </div>

    <jw-modal id="custom-modal-1" *ngIf="showDetail" [@Tap]>
      <!-- Material form grid -->
      <!-- <form> -->
      <div class="row">
        <div class="col">
          <h2 class="Charakter-hinzufügen-title">Charakter hinzufügen</h2>
          <!-- Material input -->
          <div class="md-form mt-0">
            <small>Name</small>
            <input
              mdbInput
              type="text"
              class="form-control"
              placeholder="Name eingeben"
            />
          </div>
        </div>
      </div>
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col py-2">
          <!-- Material input -->
          <div class="md-form mt-0">
            <small>Große</small>
            <input
              mdbInput
              type="number"
              class="form-control"
              placeholder="Meter"
            />
          </div>
        </div>

        <!-- Grid column -->

        <div class="col py-2">
          <!-- Material input -->
          <div class="md-form mt-0">
            <small>Gweicht</small>
            <input
              mdbInput
              type="number"
              class="form-control"
              placeholder="Kg"
            />
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <div class="row">
        <!-- Grid column -->
        <div class="col py-2">
          <!-- Material input -->
          <div class="md-form mt-0">
            <small>Haarfarbe</small>
            <input
              mdbInput
              type="text"
              class="form-control"
              placeholder="Haarfarbe eingeben"
            />
          </div>
        </div>

        <!-- Grid column -->

        <div class="col py-2">
          <!-- Material input -->
          <div class="md-form mt-0">
            <small>Augenfarbe</small>
            <input
              mdbInput
              type="color"
              style="background-color: #ffffff"
              class="form-control"
              placeholder="Gelb"
              value="#FFFF00"
            />
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <div class="row">
        <!-- Grid column -->
        <div class="col py-2">
          <!-- Material input -->
          <div class="md-form mt-0">
            <small>Geburtsjahr</small>
            <input
              mdbInput
              type="text"
              class="form-control"
              placeholder="YYYY"
            />
          </div>
        </div>

        <!-- Grid column -->

        <div class="col py-2">
          <!-- Material input -->
          <div class="md-form mt-0">
            <small>Geschlecht</small>
            <input
              mdbInput
              type="color"
              style="background-color: #ffffff"
              class="form-control"
              placeholder="Gelb"
              value="#FFFF00"
            />
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <div class="row">
        <div class="col py-2 d-flex justify-content-end">
          <!-- Material input -->
          <div class="both-btn md-form mt-0">
            <button
              mat-raised-button
              class="btn-close"
              style="margin: 10px"
              (click)="closeModal('custom-modal-1')"
            >
              Abbrechen
            </button>
            <button
              mat-raised-button
              routerLink="/character"
              class="btn-to-character"
            >
              Charakter hinzufügen
            </button>
          </div>
        </div>
      </div>
    </jw-modal>

    <!-- to go back to main page make below code uncomment -->
    <!-- <button (click)="onHideDetail()"></button> -->
  </div>
</div>
