.text-center .title {
  top: 280px;
  left: 867px;
  width: 186px;
  height: 90px;
  text-align: left;
  font: normal normal bold 75px/90px Roboto;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
}

.card-deck {
  padding-top: 30px;
}

.card-text {
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
}

.card-body {
  border: #f5f5f5;
}

.text-muted {
  color: #10172c !important;
  font: normal normal bold 12px/14px Roboto;
}

.top-details span h4 {
  align-content: center;
  font: normal normal 300 25px/30px Roboto;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
}

.top-details span h1 {
  text-align: center;
  font: normal normal bold 30px Roboto;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
}
.top-details span hr {
  border: 1px solid #10172c;
  top: 271px;
  width: 53px;
  height: 0px;
}
.row .column span h4 {
  text-align: left;
  font: normal normal bold 25px/23px Roboto;
  letter-spacing: 0px;
  color: #10172c;
}

.row .column span h5 {
  display: inline;
  font: normal normal bold 18px/23px Roboto;
  color: #10172c;
}

.row .column span h6 {
  display: inline;
  font: normal normal normal 18px/23px Roboto;
  color: #10172c;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.mat-button-row .mat-raised-button {
  border-radius: 1px;
  background-color: #bbbbbb;
  margin-right: 15px;
}
