<div [@Tap]>
  <div *ngIf="films.length == 0" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        <!-- <fa-icon [icon]="faCog" class="fa fa-cog fa-spin fa-1x fa-fw"></fa-icon> Loading... -->
        <i class="fa fa-cog fa-spin fa-2x"></i>
        <span>Loading {{ pageTitel }}...</span>
      </h1>
    </div>
  </div>
  <p class="text-center">
    <span class="title">{{ pageTitel }}</span>
  </p>
  <div *ngIf="!showDetail" class="container">
    <div class="card-deck">
      <div class="row">
        <div *ngFor="let film of films" class="col-md-4 col-xs-12 mt-3 p-3">
          <div class="card h-100">
            <img
              class="card-img-top"
              src="/assets/Filme-img/Unbenannt.png"
              alt="film pic"
            />
            <div class="card-body">
              <h5 class="card-title">{{ film.title }}</h5>
              <span class="card-text d-flex align-items-stretch"
                >Director: {{ film.director }} Produzenten:
                {{ film.producer }} Erscheinungsdatum: {{ film.release_date }}
              </span>
              <!-- <p class="card-text">{{ film.producer }}</p> -->
              <!-- <p class="card-text">{{ film.release_date }}</p> -->
              <p class="card-text btn" (click)="onShowDetail(film)">
                <small class="text-muted">{{ showMore }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showDetail" [@Tap]>
    <div class="top-details text-center">
      <span>
        <h4>{{ detailPageTitle }}</h4>
        <hr />
        <h1>{{ selectedFilm.title }}</h1>
        <h4>Episode {{ selectedFilm.episode_id }}</h4>
      </span>
    </div>

    <div class="row">
      <div class="column">
        <h4>{{ detailsTitle }}</h4>
        <span
          ><h5>Director:</h5>
          <h6>{{ selectedFilm.director }}</h6>
          <br />
          <h5>Producer:</h5>
          <h6>{{ selectedFilm.producer }}</h6>
          <br />
          <h5>ReleaseDate:</h5>
          <h6>{{ selectedFilm.release_date }}</h6>
        </span>
        <h6>{{ selectedFilm.opening_crawl }}</h6>
      </div>
      <div class="column"></div>
      <div class="column">
        <img src="/assets/Filme-img/Unbenannt.png" alt="details-img" />
      </div>
    </div>
    <p>Charaktere:</p>

    <a
      class="btn btn-primary btn-sm"
      *ngFor="let character of selectedFilm.characterDetails | slice: 0:5"
      [href]="character.url"
      >{{ character.name }}</a
    >
    <button (click)="onHideDetail()"></button>
  </div>
</div>
