
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navbar-brand-starwars" href="#">
        <img src="/assets/star.jpg" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/starwars">Star Wars <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/film">Filme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/character">Charaktere</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/planet">Planeten</a>
          </li>
        

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input class="form-control border-right-0">
          <span class="input-group-append bg-white">
              <button class="btn" type="button" ><fa-icon [icon]="faSearch" class="fa-spin"></fa-icon></button>
          </span>
      </div>
      </form>
    </div>
  </nav>
