.nav-link.is_disabled {
  cursor: pointer;
}

.nav-link.is_active {
  cursor: default;
  text-decoration: underline;
}

.navbar-brand.is_disabled {
  cursor: pointer;
}
.navbar-brand.is_active {
  cursor: default;
}

.navbar {
  top: 0px;
  left: 0px;
  height: 133px;
  color: #ffffff;
  border: 1px solid #f5f5f5;
}

.navbar a.nav-link {
  padding-left: 30px;
}

img {
  top: 47px;
  left: 281px;
  width: 83px;
  height: 37px;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 10px;
}

input.form-control {
  border: 1px solid #f5f5f5;
  opacity: 0.3;
}

/* change background color and font color
 of navbar link in smaller screen in order
  to improve readability and bring navbar in front of everything*/

@media screen and (max-width: 991px) {
  .navbar a.nav-link {
    background-color: #10172c;
    color: #ffffff;
  }

  .navbar {
    z-index: 4;
  }

  .form-inline {
    background-color: #10172c;
  }

  input.form-control {
    color: #10172c;
  }
}

/*added search icon style and related svg files */
label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  width: 12px;
  background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-search' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'/%3E%3Cpath fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z'/%3E%3C/svg%3E")
    center / contain no-repeat;
  transform: rotate(90deg);
}

input {
  padding: 10px 30px;
}
