.nav-link.is_disabled {
  cursor: pointer;
}

.nav-link.is_active {
  cursor: default;
  text-decoration: underline;
}

.navbar-brand.is_disabled {
  cursor: pointer;
}
.navbar-brand.is_active {
  cursor: default;
}

.navbar {
  top: 0px;
  left: 0px;
  height: 133px;
  color: #ffffff;
  border: 1px solid #f5f5f5;
}

.navbar a.nav-link {
  padding-left: 30px;
}

img {
  top: 47px;
  left: 281px;
  width: 83px;
  height: 37px;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 10px;
}

input.form-control {
  border: 1px solid #f5f5f5;
  opacity: 0.3;
}

/* change background color and font color
 of navbar link in smaller screen in order
  to improve readability and bring navbar in front of everything*/

@media screen and (max-width: 991px) {
  .navbar a.nav-link {
    background-color: #10172c;
    color: #ffffff;
  }

  .navbar {
    z-index: 4;
  }
}
