<nav class="navbar navbar-expand-lg navbar-light">
  <!-- add is_active and is_disabled in order
     to make mouse pointer clickable or not clickable-->
  <a
    class="navbar-brand navbar-brand-starwars"
    [routerLink]="starWarsLinkEnabled ? 'starwars' : null"
    [routerLinkActive]="starWarsLinkEnabled ? 'is_active' : 'is_disabled'"
  >
    <img
      src="/assets/Logo&Center-img/star.png"
      alt="Starwars Logo"
      loading="lazy"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <!-- add data-toggle and data-target in order to auto close navbar in small screen-->
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <span class="starwars">
          <a
            class="nav-link"
            [routerLink]="starWarsLinkEnabled ? 'starwars' : null"
            [routerLinkActive]="
              starWarsLinkEnabled ? 'is_active' : 'is_disabled'
            "
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            >StarWars</a
          >
        </span>
      </li>
      <li class="nav-item">
        <span class="filme">
          <a
            class="nav-link"
            [routerLink]="filmLinkEnabled ? 'film' : null"
            [routerLinkActive]="filmLinkEnabled ? 'is_active' : 'is_disabled'"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            >Filme</a
          >
        </span>
      </li>
      <li class="nav-item">
        <span class="charaktere">
          <a
            class="nav-link"
            [routerLink]="characterLinkEnabled ? 'character' : null"
            [routerLinkActive]="
              characterLinkEnabled ? 'is_active' : 'is_disabled'
            "
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            >Charaktere</a
          >
        </span>
      </li>
      <li class="nav-item">
        <span class="planeten">
          <a
            class="nav-link"
            [routerLink]="planetLinkEnabled ? 'planet' : null"
            [routerLinkActive]="planetLinkEnabled ? 'is_active' : 'is_disabled'"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            >Planeten</a
          >
        </span>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input class="form-control border-right-1" placeholder="search" />
        <span class="input-group-append bg-white">
          <button class="btn" type="button">
            <fa-icon [icon]="faSearch" class="fa-spin"></fa-icon>
          </button>
        </span>
      </div>
    </form>
  </div>
</nav>
